body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
        background: linear-gradient(90.29deg, #E2C35D 0%, #D88771 100%);
        font-family: 'Poppins', sans-serif;
       
    }
    
    .logo{
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
    }
    
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
    .nav-links li{
       list-style: none; 
    }
    
    .nav-links a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }
    .burger{
        display:none;
        cursor: pointer;
    }
    
    .burger div{
        width: 25px;
        height: 5px;
        background-color: white;
        margin: 3px;
        transition:all 0.3s ease;
        
    }
    
    @media screen and (max-width:1024px){
        .nav-links{
            width: 60%;
        }
    
            
    }
    
    @media screen and (max-width:768px){
        body{
            overflow-x: hidden;
        }
        .nav-links{
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background: linear-gradient(90.29deg, #E2C35D 0%, #D88771 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav-links li{
            opacity: 0;
        }
        .burger{
            display: block;
        }
    }
    
    .nav-active{
        transform: translate(0%);
    }
    
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .toggle .line1{
      transform: rotate(-45deg) translate(-5px, 6px);  
    }
    
    .toggle .line2{
       opacity: 0; 
    }
    
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);  
    }

    
    .logintextstuff {
        border-radius: 12px;
        width: 380px;
        height: 480px;
        position: relative;
        margin: 6% auto;
        background: #ffffff;
        padding: 5px;
        box-shadow: 0px -15px 15px rgba(255,255,255,0.05), inset 0px -15px 15px rgba(255,255,255,0.05), 0 15px 15px rgba(0,0,0,0.05), inset 0 15px 15px rgba(0,0,0,0.05);
        overflow: hidden;
    }
    
    .button-box {
        width: 220px;
        margin: 35px auto;
        position: relative;
        box-shadow: 0px -15px 15px rgba(255,255,255,0.05), inset 0px -15px 15px rgba(255,255,255,0.05), 0 15px 15px rgba(0,0,0,0.05), inset 0 15px 15px rgba(0,0,0,0.05);
        border-radius: 30px;
    }
    
    .togglebtn {
        color: black;
        padding: 10px 28px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
    }
    
    #btn {
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background: linear-gradient(90.29deg, #E2C35D 0%, #D88771 100%);
        border-radius: 30px;
        transition: .5s;
    }
    
    social-icons {
        margin: 30px auto;
        text-align: center;
    }
    
        social-icons img {
            width: 30px;
            cursor: pointer;
            border-radius: 50%;
        }
    
    .input-group {
        top: 180px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }
    
    .input-field {
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }
    
    .submit-btn {
        width: 80%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: linear-gradient(90.29deg, #E2C35D 0%, #D88771 100%);

        border: 0;
        outline: none;
        border-radius: 30px;
    }
    
    .checkbox {
        margin: 30px 10px 30px 0;
    }
    
    span {
        font-size: 12px;
        bottom: 68px;
        position: absolute;
    }
    
    #login {
        left: 50px;
    }
    
    #register {
        margin-top: -20px;
        left: 450px;
    }
    
    #1 {
        position: absolute;
        top: 40px;
        right: 10px;
    }
    
    #2 {
        position: absolute;
        top: 80px;
        right: 10px;
    }
    
    #3 {
        position: absolute;
        top: 120px;
        right: 10px;
    }
    
    #4 {
        position: absolute;
        top: 160px;
        right: 10px;
    }
    
    #5 {
        position: absolute;
        top: 200px;
        right: 10px;
    }
    
    #rb{
        margin-left: 10px;
    }
    .erkjf{
        color: white;
        text-shadow: 0px -15px 15px rgba(255,255,255,0.05), inset 0px -15px 15px rgba(255,255,255,0.05), 0 15px 15px rgba(0,0,0,0.05), inset 0 15px 15px rgba(0,0,0,0.05);
    }